button {
    display: block;
    width: 100%;
}

button + button {
    margin-top: 1.5rem;
}

.control {
    width: 100%;
    margin-bottom: 1.5rem;
}

.deck-info {
    margin-bottom: 1.5rem;

    mat-label {
        display: block;
    }
}

.draw-slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem;
}

.draw-slider {
    width: 70%;
}

.draw-slider-label {
    width: 15%;
    text-align: center;
}